In [ ]:
import pandas as pd
data = pd.read_csv("udemy_courses.csv")
data

In [ ]:
data.iloc[1:10]

In [ ]:
# calling first 10 data's
data.head(3)

In [ ]:
# calling last 10 data's
data.tail(3)

In [ ]:
# info function
data.info()

In [ ]:
# describe function: 
data.describe()

In [ ]:
# Gives no.of rows and no.of columns
data.shape

In [ ]:
# column names
data.columns

In [ ]:
# count function: The count() function in pandas returns the number of non-null values in each column of the DataFrame
data.count()

In [ ]:
# Datatypes: 
data.dtypes

In [ ]:
# Data type of choosen column
data["price"].dtype

In [ ]:
# O : Object datatype
data["course_title"].dtype

In [ ]:
# Index function: which gives ranges of starting, end, step points
data.index

In [ ]:
# The data.isnull() method in pandas detects missing values in a DataFrame.
data.isnull()

In [ ]:
data.isnull().sum()

In [ ]:
# The dropna() method in pandas removes rows or columns containing missing values (NaN or None) from a DataFrame.
data.dropna()

In [ ]:
# The fillna() method in pandas allows you to replace missing (NaN) values with a specified value.S
data.fillna(0)

In [ ]:
# To drop a specific row from your DataFrame, you can use the drop() method with the appropriate index.
# ROW
data.drop(3677)

In [ ]:
# COLUMNS
data.drop(columns = ["level"], axis = 1).head()

In [ ]:
# sorting by values
data.sort_values(by='price', ascending=False)

In [ ]:
# Creatng a series
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)
series

In [ ]:
# Dataframe
data1 = {
    "Name": ["Henry", "William","Jennifer"],
    "Role": ["Hero", "Villian", "Heroin"],
    "Age": [28, 25, 26]
}
df1 = pd.DataFrame(data1, index = ["Char1", "Char2", "Char3"])
df1

In [ ]:
data2 = {
    "Name": ["abc", "def", "ghi"],
    "Role": ["Hero2", "Villan2", "Heroin2"],
    "Age": [28, 25, 26]
}
df2 = pd.DataFrame(data2, index = ["Char4", "Char5", "Char6"])
df2

In [ ]:
pd.concat([df1, df2])

INDEXING TYPES:
1. LOC : Label Based Indexing
2. ILOC : Integer Location Based Indexing

In [ ]:
df1.loc["Char3"]

In [ ]:
df1.iloc[1:5]

In [ ]:
# Create a dataframe from a dictionary of list and display the first five rows

data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hannah", "Isaac", "Julia"],
    "Role": ["Engineer", "Designer", "Manager", "Developer", "Analyst", "Architect", "Coordinator", "Tester", "Consultant", "Writer"],
    "Age": [30, 28, 35, 27, 29, 33, 31, 26, 34, 32]
}
df = pd.DataFrame(data)
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sort_values(by='Age', ascending=False)

In [ ]:
filtered_df = df[df['Age'] > 30]
filtered_df